dash-player-ts/
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/package.json
playlists/mp4s/input.mp4
playlists/mp4s/premiere-wdr-robot_wmk_CAWG.mp4
playlists/mp4s/premiere-wdr-robot.mp4
playlists/mp4s/prmiere-firefly.mp4
playlists/mp4s/PTS_INVALID_EXPIRED.mp4
playlists/mp4s/PTS_NO_CAWG_robot_wdr_c2pa.mp4
playlists/mp4s/PTS_NO_CRs_c2pa_ebu_eurovox.mp4
playlists/mp4s/PTS_TRUSTED_NO_CAWG_premiere_wmk_.mp4
playlists/mp4s/PTS_TRUSTED_premiere_wmk_cawg_c2pa.mp4
playlists/mp4s/PTS_TRUSTED_sony_official_cawg_wdr.mp4
playlists/mp4s/PTS_TRUSTED_sony_official_teletrax_wmk_kinetiq_CAWG.mp4
playlists/mp4s/PTS_UNTRUSTED_cawg_robot_wdr_c2pa.mp4
playlists/mp4s/PTS_UNTRUSTED_EASYNEWS_cawg_robot.mp4
playlists/mp4s/sony_official_teletrax.mp4
playlists/out/master_1.m3u8
playlists/out/master.m3u8
playlists/out/PTS_INVALID_EXPIRED_dash0.m4s
playlists/out/PTS_INVALID_EXPIRED_dashinit.mp4
playlists/out/segments/v_1.m4s
playlists/out/segments/v_2.m4s
playlists/out/segments/v_3.m4s
playlists/out/segments/v_4.m4s
playlists/out/segments/v_5.m4s
playlists/out/segments/v_6.m4s
playlists/out/segments/v_7.m4s
playlists/out/segments/v_8.m4s
playlists/out/segments/v_9.m4s
playlists/out/segments/v_10.m4s
playlists/out/segments/v_11.m4s
playlists/out/segments/v_12.m4s
playlists/out/segments/v_13.m4s
playlists/out/segments/v_14.m4s
playlists/out/segments/v_15.m4s
playlists/out/segments/v_16.m4s
playlists/out/segments/v_17.m4s
playlists/out/segments/v_18.m4s
playlists/out/segments/v_19.m4s
playlists/out/segments/v_20.m4s
playlists/out/segments/v_21.m4s
playlists/out/segments/v_22.m4s
playlists/out/segments/v_23.m4s
playlists/out/segments/v_24.m4s
playlists/out/segments/v_init.mp4
playlists/output/c2pa-test_1.m3u8
playlists/output/c2pa-test.m3u8
playlists/output/playlist-test/00001.m4s
playlists/output/playlist-test/00002.m4s
playlists/output/playlist-test/00003.m4s
playlists/output/playlist-test/00004.m4s
playlists/output/playlist-test/00005.m4s
playlists/output/playlist-test/init.mp4
playlists/output-signed/c2pa-test_1.m3u8
playlists/output-signed/c2pa-test.m3u8
playlists/output-signed/validation-report.json
playlists/output-signed/playlist-test/00001.m4s
playlists/output-signed/playlist-test/00002.m4s
playlists/output-signed/playlist-test/00003.m4s
playlists/output-signed/playlist-test/00004.m4s
playlists/output-signed/playlist-test/00005.m4s
playlists/output-signed/playlist-test/init.mp4
playlists/wdr-test/c2pa-test_1.m3u8
playlists/wdr-test/c2pa-test.m3u8
playlists/wdr-test/playlist-test/00001.m4s
playlists/wdr-test/playlist-test/00002.m4s
playlists/wdr-test/playlist-test/00003.m4s
playlists/wdr-test/playlist-test/00004.m4s
playlists/wdr-test/playlist-test/00005.m4s
playlists/wdr-test/playlist-test/init.mp4
playlists/wdr-test-signed/c2pa-test_1.m3u8
playlists/wdr-test-signed/c2pa-test.m3u8
playlists/wdr-test-signed/validation-report.json
playlists/wdr-test-signed/playlist-test/00001.m4s
playlists/wdr-test-signed/playlist-test/00002.m4s
playlists/wdr-test-signed/playlist-test/00003.m4s
playlists/wdr-test-signed/playlist-test/00004.m4s
playlists/wdr-test-signed/playlist-test/00005.m4s
playlists/wdr-test-signed/playlist-test/init.mp4
trust/dev-ebu-root.pem
